@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>

</div>

@if (User.Identity.IsAuthenticated)
{
    <table style="padding:10px" >
        <tr class="col-md-12" >
            <td class="col-md-6"> <h2>Tasks completed yesterday</h2></td>
            <td class="col-md-6"> <h2>Tasks to complete today</h2></td>
        </tr>
        <tr class="col-md-12" style="padding:2px">
            <td class="col-md-6">
               

                @foreach (var todo in Model.Done)
                {
                    <h4>Task: @todo.Title</h4>
                    <p >@todo.Description</p>
                    

                }
            </td>
            <td class="col-md-6">
               
                @foreach (var todo in Model.Next)
                {
                    <h4>Task: @todo.Title</h4>
                    <p>@todo.Description</p>
                    

                }
            </td>
        </tr>
    </table>
   

   
}
else
{
    <p>Do you keep forgetting the tasks to do?</p>
    <p>Sign up now to keep a track of all your tasks!!</p>

    <h3>
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Sign Up Here</a>
    </h3>

}




<!--<div class="form-group">-->
@*<input type="button" asp-page="/Account/Register" value="Sign Up" class="btn btn-primary" />*@
<!--</div>-->
@*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@




