@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is Charulatha's blog website built with <a href="https://docs.microsoft.com/aspnet/core" style="color:#ef0d50"> ASP.NET Core</a>.</p>
</div>
<div>
    <dl>
        <dt>1. Add Author</dt>
        <dd>Once you create the author, it will be visible in the next form to add your blog !</dd>
    </dl>

    <dl>
        <dt>2. Add Blog</dt>
        <dd>Here you can add the information for your blog post !</dd>
    </dl>
</div>
<!--
<div >
    <table>
        <tr>
            <td >
                <div>


                    <button type="submit" asp-page="/Admin/Author/CreateAuthor"> Add Author </button>
                </div>
            </td>
            <td>
                <div>
                    <button type="submit"> Add Blog </button>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="col-md-10">
                    1. Once you create the author, it will be visible in the next form to add your blog !
                </div>
            </td>
            <td>
                <div class="col-md-10">
                    2. Here you can add the information for your blog post !
                </div>
            </td>
        </tr>
    </table>

</div>

    -->

